:root {                             /*Variables used as color names*/
   --darkbg: #121212;
   --cardbg: #1e1e1e;
   --maincol: #00f2fe;
   --seccol: #4facfe;
   --greencol: #00ff88;
   --topborder: #00ff88;
   --textcol: #ffffff;
   --textcol2: #a0a0a0;
   --bordercol: #333;
   --optbg: rgb(0, 0, 0);
   --opttext:white;
   --shadowcol: rgba(0, 255, 136, 0.3);
}

body.light-mode {                   /* Interface in light theme*/
   --darkbg: #fffcfc;
   --cardbg: #dededeb2;
   --textcol: #1a1a1a;
   --textcol2: #555555;
   --bordercol: #333;
   --greencol: #1e1e1e;
   --topborder: #132bc7;
   --optbg: rgba(30, 30, 30, 0.3);
   --opttext: black;
   --shadowcol: #132bc7;
}

* {                                 /*Universal properties*/
   margin: 0;  
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {                              /*Properties of body part*/
   color: var(--textcol);
   background-color: var(--darkbg);
   align-items: center;
   background-image: radial-gradient(circle, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%), url('./picture/background.jpeg');
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}

.navbar {                           /*Properties of navigation bar*/
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #1e1e1e;
   padding: 10px 50px;
   border-bottom: 1px solid var(--bordercol);
}

.logo span {                       /*Tracker word color*/
   color: var(--seccol);
}
.logo,
.themebutton,
.except{
   color: white;
}
.navtag {                         /*Properties of navigation bar items*/
   list-style: none;
   display: flex;
   gap: 25px;
   margin-top: 10px;
}

.navtag a {
   text-decoration: none;
   color: var(--textcol2);
   transition: 0.3s;
}

.navtag a:hover {                 /*Navigation bar items will change color when mouse pointer hovered over them*/
   color: var(--seccol);
}

.themebutton {                     /*Theme button design*/
   background: none;
   border: 1px solid var(--bordercol);
   height: 45px;
   width: 90px;
   color: white;
   padding: 8px 15px;
   border-radius: 5px;
   cursor: pointer;
}

.dashboard {
   padding: 2rem 50px;
   flex: 1;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;
   width: 100vh;
}

.goalcard {                      /*Goalcard design*/
   background: var(--cardbg);
   padding: 15px;
   border-left: 4px solid var(--topborder);
   border-radius: 15px;
   width: 230px;
   transition: all 0.4s;
}
.progressbar {                   /*Progressbar of goalcard*/
   width: 100%;
   height: 10px;
   background: rgba(255, 255, 255, 0.1);
   border-radius: 5px;
   margin-top: 10px;
   overflow: hidden;
}

.progress {
   height: 100%;
   width: 0%;
   background: linear-gradient(90deg, var(--maincol), var(--greencol));
   transition: width 0.5s ease-in-out;
   border-radius: 5px;
}

.items {                   /*Aligning cards side by side*/
   display: flex;
   gap: 20px;
   align-items: start;
   flex-wrap: wrap;
}


.profilecard,              /*properties of cards*/
.workoutcard,
.history,
.habitcard{
   background: var(--cardbg);
   padding: 2rem;
   border-radius: 15px;
   border-top: 4px solid var(--topborder);
   flex: 1;
   min-width: 300px;
   transition: 0.4s;
}

.profilecard:hover,           /*Cards when mouse pointer hovered over them*/
.workoutcard:hover,
.history:hover,
.goalcard:hover,
.habitcard:hover {
   transform: translateY(-5px);
   box-shadow: 9px 5px 15px var(--shadowcol);
}

input,
select {
   width: 100%;
   padding: 10px;
   margin: 10px 0;
   background: rgba(255, 255, 255, 0.05);
   border: 1px solid var(--bordercol);
   border-radius: 8px;
   color: var(--textcol);
}

.workoutdetail{            /*For sets and reps*/
display: flex;
}
.detail{                   /*Sets and reps input box deisng*/
   gap: 10px;
   margin-left: 10px;
   margin-right: 10px;
}
.detailtext{
   padding-top: 18px;
}
.option{
   background-color: var(--optbg);
   color: var(--opttext);
}
.submit,                      /*Submit button and BMI Calculate button properties*/
.calculateBMI {
   width: 100%;
   padding: 12px;
   background-color: #00ff8814;
   border: 1px solid var(--greencol);
   color: var(--textcol);
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
   font-weight: bold;
}

.submit:hover,                /*Submit button and BMI Calculate button when mosue hovered over them*/
.calculateBMI:hover {
   background: var(--greencol);
   color: var(--darkbg);
   scale: 1.08;
}

.pastworkouts {                 /*past workouts design*/
   background: rgba(121, 216, 145, 0.077);
   padding: 10px;
   border-radius: 8px;
   margin-top: 10px;
   border-left: 4px solid var(--greencol);
   display: flex;
   justify-content: space-between;
}

.habitmaintain{
   padding: 20px;
   font-size: large;
}
.water-tracker {                /*Water intake */
   border: 2px outset var(--bordercol);
   border-radius: 8px;
   padding: 20px;
   text-align: left;
   margin-top: 20px;
   margin-bottom: 10px;
}

.water-controls {                /*Water intake count */
   display: flex;
   justify-content: center;
   gap: 10px;
   margin-top: 10px;
}

.headbutton{                     /*Water intake +/- minus button design*/
   width: 25%;
   height: 35px;
   background: none;
   color: var(--textcol);
   border-style: outset;
   border-color: var(--greencol);
   cursor: pointer;
}
.headbutton:hover{                   /*Buttons when mouse hovered on them*/
   background-color: var(--greencol);
   color: var(--darkbg);
   transition: all 0.3s;
   scale: 1.08;
}
.habit-list{
   border:  2px outset var(--bordercol);
   border-radius: 8px;
   padding: 10px;
}
.habit-item {                         /*Design of 3 habit items*/
   display: flex;
   align-items: center;
   gap: 15px;
   margin-bottom: 12px;
   padding: 8px;
   border-radius: 8px;
   background: rgba(255, 255, 255, 0.03);
   transition: all 0.3s;
}

.habit-item:hover{
   scale: 1.05;
}
.habit-item input[type="checkbox"] {      /*Checkbox of habit items*/
   width: 20px;
   height: 20px;
   cursor: pointer;

}

.habit-item label {
   margin: 0;
   cursor: pointer;
}
.footer {                        /*Properties of footer part*/
   width: 100vw;
   text-align: center;
   font-size: 25px;
   background-color: black;
   padding: 40px;
   margin-top: 50px;
   border-top: 1px solid var(--bordercol);
}

.social{                        /*Design of social media connect button on footer*/
   margin: 10px;
   border-top: #00f2fe;
}
